.resources__logo-zone {
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 80px auto 217px auto;
}

.resources__logo {
  list-style: none;
  width: 270px;
  height: 38px;
  text-align: center;
}